[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask-cors = "*"
python-dotenv = "*"
pymongo = "*"
jinja2 = "==3.0.3"
flask = "*"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.8"
